* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

body {
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
}

:root {
    --button: 165 215 137;
    --highlight: 184 241 255;
    --cell: 231 232 235;
    --line: 151 151 154;
}

::-webkit-scrollbar {
    width: 0px;
}